<form method="POST" action="/new">
    <label for="user">user</label>
    <input type="text" name="user" id="user">

    <label for="message">message</label>
    <input type="text" name="message" id="message">

    <input type="submit" value="">
</form>