<%- include('./extends/header.ejs') -%>

    <form method="POST" action="/rooms" id="create-room-form">
        <h2>chat anonymously</h2>
        <p id="paragraph">on the internet no one knows you're a cat</p>
        <!-- <label for="user">user</label>
        <input type="text" name="user" id="user"> -->
        <input type="submit" value="create room">
    </form>

    <script src="../public/javascripts/rooms.js"></script>

<%- include('./extends/footer.ejs') -%>