<%- include('./extends/header.ejs') -%>

        <div class="message-box">
            <div class="message-list-container">
                <ul class="" id="message-list"></ul>
            </div>
            <form>
                <input type="text" name="message" id="message">
                <input type="submit" value="send" id="message-btn">
            </form>
        </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/javascripts/room.js"></script>

<%- include('./extends/footer.ejs') -%>