<footer>
    <nav>
        <ul>
            <li><a href="https://github.com/ronald-luo/chatroom-app"><img
                        src="https://s2.svgbox.net/social.svg?ic=github&color=fff" width="32" height="32"></a></li>
            <li><a href="https://www.ronald-luo.com/100-websites/"><img
                        src="https://s2.svgbox.net/social.svg?ic=ghost&color=fff" width="32" height="32"></a></li>
        </ul>
    </nav>
</footer>

</body>

</html>